.gap {
    gap: 10px;
}

.book-card {
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
}

.book-card, .details, .cart, .amount {
    display: flex;
}

.available {
    color: white;
    background-color: green;
}

.image {
    width: 200px;
}

.details {
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.buy {
    display: grid;
    justify-items: end;
}

.cart {
    flex-wrap: wrap;
}

button, select {
    width: 50px;
}