.content {
    margin: 10px;
}

.welcome {
    text-align: center;
}

.books-container {
    display: grid;
    gap: 10px;
}

@media (min-width: 768px) {
    .books-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1200px) {
    .books-container {
        grid-template-columns: repeat(3, 1fr);
    }
}